@keyframes row1 {
   0% {
      background-position: 0 0;
   }

   100% {
      background-position: -500px 0;
   }
}

@keyframes row2 {
   0% {
      background-position: 0 375px;
   }

   100% {
      background-position: -500px 375px;
   }
}

@keyframes row3 {
   0% {
      background-position: 0 250px;
   }

   100% {
      background-position: -500px 250px;
   }
}

@keyframes row4 {
   0% {
      background-position: 0 125px;
   }

   100% {
      background-position: -500px 125px;
   }
}

#run {
   animation: row1 1s steps(4) none,
      row2 1s steps(4) 1s none,
      row3 1s steps(4) 2s none,
      row4 1s steps(4) 3s none;
   width: 125px;
   height: 125px;
   background-image: url('https://cdn.tutsplus.com/gamedev/uploads/2013/11/spritesheet_numbered.png');
}
